# Framework Web e Servidor
fastapi[standard]
uvicorn

# Banco de Dados (ORM e Driver)
sqlalchemy
psycopg[binary]

# Validação e Configurações
pydantic
pydantic-settings
email-validator

# Segurança e Criptografia
passlib[bcrypt]
bcrypt==3.2.0

# Utilitários para Upload/Forms (Geralmente necessário para login futuro)
python-multipart
