body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box; 
}

a {
  text-decoration: none;
  color: #3498db;
}

.container {
  padding: 10px;
}

@media (min-width: 600px) {
  .container {
    padding: 20px 50px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
  }
}