/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.custom-active-item {
  background-color: transparent !important;
  opacity: 1;
  position: relative;
}

.custom-active-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 4px;
  background-color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}